.latest-stories
{
    width: 44vw;
}
.latest-title
{
    font-size: 1.5vw;
    font-weight: 100;
}
.latest-card
{
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.latest-card-img
{
    height: 8vw;
    width: 8vw;
}
.latest-card-text-content h3
{
    margin-top: 0px;
    margin-bottom: 0.1vw;
}
.latest-card-text-content
{
    width: 25vw;
}
.last-update
{
    margin-top: 0px;
}