.footer
{
    /* height: 25vw; */
    /* padding: 3vw; */
    /* background-color: black; */
    /* color: white; */
    margin: 2vw 7vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
}
.footer-links-title
{
    font-size: 1vw;
}
.footer a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1vw;
    display: block;
    transition: color 400ms;
    margin: 1.3vw 0vw;
}
.footer a:hover
{
    color: brown;
}
.company-logo
{
    font-size: 3vw;
    color: gold;
}
.face
{
    transition: transform 1s;
    font-size: 5vw;
}
.face:hover
{
    transform: translateY(-5px);
    color: blue;
}
.social-media
{
    width: 16vw;
}
.social-media-icons
{
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.7vw;
}
.social-media-icons a
{
    text-decoration: none;
    color: inherit;
}
/* .About-links
{
    border-left: 3.8px dotted green;
    border-right: 3.8px dotted green;
    padding: 0vw 10vw;
    padding-bottom: 1vw;
} */
.fa
{
    transition: transform 600ms;
}
.footer .fa:hover
{
    cursor: pointer;
    transform: translateY(-5px);
    color: rgb(0, 38, 255);
}
.footer .social-media .social-media-icons a
{
    text-decoration: none;
    /* color: white; */
    margin: 0vw;
    font-size: 2vw;
}
.footer .insta:hover
{
    color: rgb(255, 0, 200);
}
.footer .ytb:hover
{
    color: red;
}
.rights
{
    width: 20vw;
    margin-top: 3vw;
    font-size: 1.1vw;
}
.about-policies-flex-cont
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 30vw;
}
@media only screen and (max-width : 600px) 
{
    .about-policies-flex-cont
    {
        width: 67vw;
    }    
    .social-media
    {
        width: 40vw;
    }
    .footer-links-title
    {
        font-size: 2.4vw;
    }
    .footer a
    {
        font-size: 2vw;
    }
    .footer img
    {
        width: 30vw;
    }
    .social-media
    {
        margin-top: 3vw;
    }
    .footer .social-media .social-media-icons a
    {
        font-size: 3vw;
    }
    .rights
    {
        margin-top: 1vw;
        font-size: 2vw;
        width: 100%;
    }
}
@media only screen and (max-width : 430px) 
{
    .about-policies-flex-cont
    {
        width: 75vw;
    }    
    .social-media
    {
        width: 50vw;
    }
    .footer-links-title
    {
        font-size: 3.3vw;
        /* font-weight: 500; */
    }
    .footer a
    {
        font-size: 2.9vw;
    }
    .footer img
    {
        width: 40vw;
    }
    .social-media
    {
        margin-top: 3vw;
    }
    .footer .social-media .social-media-icons a
    {
        font-size: 4.4vw;
    }
    .rights
    {
        margin-top: 2.5vw;
        font-size: 2.6vw;
        width: 100vw;
    }
}